pandas
numpy
scikit-learn
lightgbm
matplotlib
seaborn
python-box
pyYAML
tqdm
mlflow
dagshub
openmeteo_requests
requests_cache
retry_requests
ensure
joblib
python-multipart
hopsworks
types-PyYAML
dvc
dvc-s3
pytest
gdown
ydata-profiling
ipywidgets
dvc-s3
boto3
optuna
xgboost
-e .