artifacts_root: artifacts

feature_store:
  hopsworks_project_name: WattPredictor
  hopsworks_api_key: ${hopsworks_api_key}

data:
  root_dir: data
  elec_raw_data: data/raw/elec_data
  wx_raw_data: data/raw/wx_data
  data_file: data/processed/elec_wx_demand.csv

validation:
  root_dir: artifacts/validation
  status_file: artifacts/validation/status.json
  data_file: data/processed/elec_wx_demand.csv

engineering:
  root_dir: artifacts/engineering
  status_file: artifacts/validation/status.json
  preprocessed: artifacts/engineering/preprocessed.csv
  data_file: data/processed/elec_wx_demand.csv


trainer:
  root_dir: artifacts/trainer
  model_name: model.joblib
  data_path: artifacts/engineering/preprocessed.csv

evaluation:
  root_dir: artifacts/evaluation
  model_path: artifacts/trainer/model.joblib
  img_path: artifacts/evaluation/pred_vs_actual.png
  metrics_path: artifacts/evaluation/metrics.json


prediction:
    root_dir: artifacts/prediction
    model_name: wattpredictor_xgboost
    model_version: 1
    feature_view_name: elec_wx_features_view
    feature_view_version: 1
    n_features: 672
    predictions_df: artifacts/prediction/predictions.csv

monitoring:
  
  root_dir: artifacts/monitoring
  predictions_fg_name: elec_wx_predictions
  predictions_fg_version: 2
  actuals_fg_name: elec_wx_features
  actuals_fg_version: 2
  monitoring_df: artifacts/monitoring/monitoring_df.csv


drift:
  root_dir: artifacts/drift
  report_dir: artifacts/drift/